<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Perfil</ion-title>
    </ion-navbar>

</ion-header>
<!--

<ion-content padding>
    <div class="centrado">
        <div class="profile-image">

            <img src="{{ perfilFoto }}"  alt="no" width="250">
        </div>

        <button ion-button class="min" (click)="tomarFoto()">Tomar Foto</button>

    </div>

    <ion-fab right bottom>
        <button ion-fab color="primary">
      <ion-icon  name="add"></ion-icon>
    </button>
        <ion-fab-list side="left">
            <button *ngIf="id!=0" (click)="irMascota()">Ver Mascotas</button>
            <button (click)="crearMascota()">Agregar Mascota</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

-->

<ion-content padding>
    <div class="centrado">
    <div class="profile-image">
      <img src="{{ imgurl }}" alt="no" width="250">
    </div>
    <button ion-button round class="min" (click)="tomarFoto()">Tomar Foto </button>
    

    <div>
      <button ion-button round class="min" (click)="tomarGaleria()">Subir Imagen</button>
    </div>
<!--
    <div [hidden]="!moveon">
      <button ion-button round outline class="min" (click)="proceed()">Skip this step</button>
    </div>-->
    <div [hidden]="moveon">

      <button ion-button round class="min" (click)="updateproceed()">Cargar y Continuar</button>
    </div> 
</div>
    <ion-fab right bottom>
            <button ion-fab color="primary">
          <ion-icon  name="add"></ion-icon>
        </button>
            <ion-fab-list side="left">
    

                <button class="min" ion-button round outline *ngIf="id!=0" (click)="irMascota()">Ver Mascotas</button>


                <button class="min" ion-button round outline (click)="crearMascota()">Agregar Mascota</button>
            </ion-fab-list>
        </ion-fab>
  </ion-content>